////////////////////////////////////////////////////////
// app theme colors
////////////////////////////////////////////////////////
$app-dark-blue: #013a60;
$app-green: #00b151;
$app-orange: #ff8c00;
$app-blue: #008bd3;
$app-dark-grey: #4e565c;
$app-grey: #95a2aa;
$app-light-grey: #e1eeee;

$app-white-text: rgba(255, 255, 255, 0.7);
$app-dark-text: rgba(0, 0, 0, 0.7);


////////////////////////////////////////////////////////
// fonts / icons
////////////////////////////////////////////////////////

$font-open-sans: 'Open Sans', sans-serif;


@font-face {
  font-family: 'CD-Project-Icons';
  src:
    url('fonts/CD-Project-Icons.woff2?qsy08t') format('woff2'),
    url('fonts/CD-Project-Icons.ttf?qsy08t') format('truetype'),
    url('fonts/CD-Project-Icons.woff?qsy08t') format('woff'),
    url('fonts/CD-Project-Icons.svg?qsy08t#CD-Project-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CD-Project-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e833";
    color: $app-green;
    padding-right: 5px;
    font-size: 19px;
    position: absolute;
}

.icon-search:before {
  content: "\e949";
  color: $app-dark-blue;
  font-size: 22px;
}

.icon-shopping-cart2:before {
  content: "\e8c9";
  color: $app-green;
    font-size: 16px;
    position: absolute;
}

.icon-account-circle:before {
  content: "\e602";
  color: $app-green;
  font-size: 19px;
  position: absolute;
}

.icon-clear:before {
  content: "\e6d5";
}




////////////////////////////////////////////////////////
// welcome overlay / dialog / overlay 
////////////////////////////////////////////////////////

//welcome over-lay 
.welcome-overlay {
	width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 1;
  background: white;

  div {
  	width: 100%;
  	max-width: 250px;
  	margin: 0 auto;
  	margin-top: 250px;
  	img {
  		width: 100%;
  	}
  }
}

.dialog-overlay {
	width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.32);

	.dialog {
		width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 10;
    background: white;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.34);

    .inner-dialog {
	    padding: 30px;
	    text-align: center;

	    div {
	    	font-family: $font-open-sans;
	    	font-size: 24px;
	    	font-weight: bold;
	    	color: $app-dark-blue;
	    }

	    input	{
	    	width: 100%;
	    	border: 1px solid $app-light-grey;
	    	border-radius: 2px;
	    	font-family: $font-open-sans;
	    }
    }

	// width: 100%;
 //  	max-width: 250px;
 //  	margin: 0 auto;
 //  	margin-top: 250px;
 //  	background-color: red;
	}
}

@media (max-width: 767px) {

	.dialog-overlay {
		.dialog {
			margin-top: 60px;
			width: 96%;
		}
	}
}


////////////////////////////////////////////////////////
// app common element classes
////////////////////////////////////////////////////////

// buttons
.solid-button {
	background-color: $app-green;
	font-family: $font-open-sans;
	color: white;
	border: none;
	border: 2px solid $app-green;
	border-radius: 4px;
	padding: 10px 15px;
	outline: none;
	margin-top: 10px;
}

.solid-button:hover {
	background-color: #018b40;
	border: 2px solid #018b40;
}

.outline-button {
	font-family: $font-open-sans;
	background-color: transparent;
	color: white;
	border: none;
	border: 2px solid white;
	border-radius: 4px;
	padding: 10px 15px;
	outline: none;
	margin-top: 10px;
	margin-left: 15px;
}

.outline-button:hover {
	background-color: rgba(1, 139, 64, 0.19);
}

.section-container {
	max-width: 740px;
	margin: 0 auto;
}

// 5 column grid classes (footer)
.col-xs-for5,
.col-sm-for5,
.col-md-for5,
.col-lg-for5 {
	padding-right: 10px;
  padding-left: 10px;
  position: relative;
  min-height: 1px;

}

.col-xs-for5 {
  width: 50%;
  float: left;
}

@media (min-width: 515px) {
.col-sm-for5 {
      width: 33.3%;
      float: left;
    }
}

@media (min-width: 992px) {
    .col-md-for5 {
      width: 20%;
      float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-for5 {
      width: 20%;
      float: left;
    }
}

.hidden {
	display: none;
}

.mobile-hide {
	display: none;
}

.mobile-show {
	display: none;
}

@media (min-width: 768px) {
	.mobile-hide {
		display: block;
	}
}

@media (max-width: 767px) {
	.mobile-show {
		display: block;
	}
}

////////////////////////////////////////////////////////
// navigation bar
////////////////////////////////////////////////////////

#searchbox {
	position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: white;

  input {
    height: 50px;
    width: 90%;
    max-width: 500px;
    border: none;
    padding-left: 20px;
    font-family: $font-open-sans;
    font-size: 20px;
    font-style: italic;
    outline: none;
  }

  div {
  	display: inline-block;
    float: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    color: $app-grey;
  }
}

.nav-styles {
	font-family: $font-open-sans;
	background-color: white;

	.navbar-header {
		background-color: white;

		.logo-div {
	    padding-top: 16px;
	    padding-left: 16px;
	    padding-right: 16px;
		}

		.navbar-toggle {
			border: none;
		}
	}
	li {
		a {
			font-family: $font-open-sans;
			font-size: 12px;
			color: $app-dark-blue;
			padding-left: 20px;
			padding-right: 20px;
			line-height: 0px;

			span {
				font-weight: bold;
			}

			div {
				font-family: $font-open-sans;
				font-size: 12px;
				font-weight: bold;
				display: inline-block;
				margin: 0;
				padding: 0;
				padding-left: 24px;

				.arrow-div {
					position: relative;
					background: $app-light-grey;
				}

				.arrow-div:after {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-right-color: $app-light-grey;
					border-width: 4px;
					margin-top: -4px;
					margin-left: 12px;
			    padding-left: 7px;
			    padding-right: 10px;
				}
			}
		}
	}

	.border-left { 
		border-left: 1px solid $app-light-grey;
	}

	.border-right {
		border-right: 1px solid $app-light-grey;
	}

	.divider-line {
		display: inline-block;
    height: 13px;
    width: 1px;
    background-color: $app-light-grey;
    padding-top: 30px;
    margin-top: 11px;
	}
}

#expander {
	position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -20px;
}

@media (max-width: 767px) {

	a {
		text-align: center;
	}

	a:hover {
		background-color: $app-light-grey;
	}

	.hide-element {
		display: none !important;
	}
	#searchbox {
		input {
			width: 83%;
			font-size: 12px;
		}
	}
}

////////////////////////////////////////////////////////
// jumbo section
////////////////////////////////////////////////////////

.jumbo-background {
    height: 250px;
    margin-top: -20px;
    background-image: (linear-gradient(90deg, rgba(7, 40, 65, 0.75), rgba(7, 40, 65, 0.75)), url(../images/hero-image.png));
    background-repeat: no-repeat;
   	background-position: 0% 0%;
	position: relative;
}

.jumbo-inner-container {
	max-width: 610px;

	.row {
		margin-top: 90px;
		.jumbo-header {
			color: $app-light-grey;
			font-size: 35px;
			font-weight: bold;
		}

		.jumbo-subheader {
			color: $app-light-grey;
			font-size: 16px;
		}
	}

}

@media (max-width: 767px) {
	.jumbo-background {
		text-align: center;

		.jumbo-inner-container {

			.row {
				margin-top: 55px;
			}
		}
	}
}

////////////////////////////////////////////////////////
// colored boxes / down-sizing text section
////////////////////////////////////////////////////////

.boxes {
	width: 50px;
	max-width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 20px;

	&.darkblue { background-color: $app-dark-blue }
	&.green { background-color: $app-green } 
	&.orange { background-color: $app-orange }
	&.blue { background-color: $app-blue }
	&.darkgrey { background-color: $app-dark-grey }
	&.grey { background-color: $app-grey }
	&.lightgrey { background-color: $app-light-grey }
}

.loop-container {

	.loop-class {
		font-family: $font-open-sans;
		font-size: 31px;
		color: $app-dark-blue;
		font-weight: bold;
		&.one { font-size: 27px; }
		&.two { font-size: 23px; }
		&.three { font-size: 19px; }
		&.four { font-size: 15px; }
		&.five { font-size: 11px; }
	}

	.second-class {
		font-size: 29px;
		color: $app-grey;
		&.one { font-size: 25px; }
		&.two { font-size: 21px; }
		&.three { font-size: 17px; }
		&.four { font-size: 13px; }
		&.five { font-size: 9px; }
	}
}


@media (max-width: 700px) {
	width: 100%;
	max-width: 100%;
}

////////////////////////////////////////////////////////
// text section
////////////////////////////////////////////////////////

.content-section {
	font-family: $font-open-sans;
	color: $app-grey;
	font-size: 16px;
  line-height: 25px;
}

////////////////////////////////////////////////////////
// second jumbo section
////////////////////////////////////////////////////////

.jumbo-background-bottom {
    margin: 0 auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image-2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;

  .content-container {

  	text-align: center;
  	padding-top: 60px;

    .connect-header {
			font-family: $font-open-sans;
    	color: white;
    	font-size: 30px;
    	font-weight: bold;
    	padding-bottom: 5px;
    }

    .connect-subheader {
			font-family: $font-open-sans;
    	color: $app-light-grey;
    	font-size: 15px;
    	padding-bottom: 10px;
    }

    .connect-line {
    	width: 50px;
    	border: none;
    	padding-bottom: 1px;
    	background-color: rgba(255, 255, 255, 0.28);
    	margin-top: 25px;
    	margin-bottom: 25px;
    }

    a {
    	text-decoration: none;
    }

    a:hover {
    	opacity: .7;
    }

    .center-icon {
	    margin-left: 10px;
	    margin-right: 10px;
    }
	}
}

////////////////////////////////////////////////////////
// three part icon section
////////////////////////////////////////////////////////

.footer-top-section {
	padding: 30px 20px;
	.icon-container {
		width: 50px;
		display: inline-block;

		img {
			margin-top: -22px;
		}
	}

	.content-div {
		display: inline-block;
		color: $app-dark-blue;
		font-weight: bold;
		font-size: 13px;

		span {
			color: $app-grey;
			font-weight: normal;
			font-size: 18px;
		}
	}
}

@media (max-width: 820px) {
	.footer-top-section {
		padding: 20zpx 10px;
	}
}

@media (max-width: 768px) {
	.footer-top-section {
		text-align: center;
		padding: 30px 20px;

		.div-group {
			margin-bottom: 25px;

		.no-bottom {
			margin-bottom: 0px;
		}

			.content-div {
				text-align: left;
				margin-left: 10px;
			}
		}
	}
}


////////////////////////////////////////////////////////
// footer section
////////////////////////////////////////////////////////

.shared-container {
	padding: 40px 20px;
	background-color: white;
	border-top: 1px solid $app-light-grey;

	.container {

		.row {

			.top-line-up {
				margin-top: 15px;
			}

			a {
				text-decoration: none;
			}

			a:hover {
				opacity: .8;
			}

			img {
				max-width: 200px;
			}

			div {
				.footer-copyright {
					color: $app-grey;
					font-size: 12px;
				}

				.footer-group {
					color: orange;

					.footer-title {
						margin-bottom: 0px;
						color: $app-dark-blue;
						font-size: 16px;
						font-weight: bold;
					}

					.a-div {
						padding-bottom: 5px;
						a {
							text-decoration: none;
							color: $app-dark-grey;
						}
					}
					a:hover {
						color: $app-grey;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.shared-container {
		padding: 50px;
		.container {
			.row {
				div {
					.align-right {
						// text-align: right;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.shared-container {
		padding: 50px 20px;

		.container {
			.row {
				.top-line-up {
					margin-top: 0px;
				}
			}
		}
	}
}


