body {
  background-color: #f7f7f7; }

.solid-button {
  background-color: #00b151;
  color: white;
  border: none;
  border: 2px solid #00b151;
  border-radius: 4px;
  padding: 10px 15px;
  outline: none;
  margin-top: 10px; }

.outline-button {
  background-color: transparent;
  color: white;
  border: none;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  outline: none;
  margin-top: 10px;
  margin-left: 15px; }

.section-container {
  max-width: 740px;
  margin: 0 auto; }

.col-xs-for5,
.col-sm-for5,
.col-md-for5,
.col-lg-for5 {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  min-height: 1px; }

.col-xs-for5 {
  width: 50%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-for5 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-for5 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-for5 {
    width: 20%;
    float: left; } }
.jumbo-background {
  height: 250px;
  margin-top: -20px;
  background-image: linear-gradient(90deg, rgba(7, 40, 65, 0.75), rgba(7, 40, 65, 0.75)), url(../images/hero-image.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  position: relative; }

.jumbo-inner-container {
  max-width: 610px; }
  .jumbo-inner-container .row {
    margin-top: 75px; }
    .jumbo-inner-container .row .jumbo-header {
      color: #e1eeee;
      font-size: 35px;
      font-weight: bold; }
    .jumbo-inner-container .row .jumbo-subheader {
      color: #e1eeee;
      font-size: 16px; }

.boxes {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px; }
  .boxes.darkblue {
    background-color: #013a60; }
  .boxes.green {
    background-color: #00b151; }
  .boxes.orange {
    background-color: #ff8c00; }
  .boxes.blue {
    background-color: #008bd3; }
  .boxes.darkgrey {
    background-color: #4e565c; }
  .boxes.grey {
    background-color: #95a2aa; }
  .boxes.lightgrey {
    background-color: #e1eeee; }

.loop-container .loop-class {
  font-size: 30px; }
  .loop-container .loop-class.one {
    font-size: 26px; }
  .loop-container .loop-class.two {
    font-size: 22px; }
  .loop-container .loop-class.three {
    font-size: 18px; }
  .loop-container .loop-class.four {
    font-size: 16px; }
  .loop-container .loop-class.five {
    font-size: 12px; }
.loop-container .second-class {
  font-size: 20px; }
  .loop-container .second-class.one {
    font-size: 16px; }
  .loop-container .second-class.two {
    font-size: 12px; }
  .loop-container .second-class.three {
    font-size: 8px; }
  .loop-container .second-class.four {
    font-size: 4px; }
  .loop-container .second-class.five {
    font-size: 2px; }

.jumbo-background-bottom {
  margin: 0 auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  position: relative;
  background-size: 100% auto;
  height: 30vw;
  max-height: 500px;
  overflow: hidden;
  text-align: center; }
  .jumbo-background-bottom .content-container {
    text-align: center;
    padding-top: 50px; }
    .jumbo-background-bottom .content-container .connect-header {
      color: #e1eeee;
      font-size: 30px;
      font-weight: bold; }
    .jumbo-background-bottom .content-container .connect-subheader {
      color: #e1eeee;
      font-size: 15px; }
    .jumbo-background-bottom .content-container .connect-line {
      width: 50px;
      border: none;
      padding-bottom: 1px;
      background-color: rgba(255, 255, 255, 0.4); }

.footer-container {
  padding: 25px 0px;
  background-color: #e1eeee;
  border-top: 1px solid #95a2aa; }

/*# sourceMappingURL=styles.css.map */
