// FONT SYSTEM






$testvariable: #f7f7f7;

body {
	background-color: $testvariable;
}


// navbar scss

// jumbo image css

.jumbo-container {
    height: 250px;
    margin-top: -20px;
    background-image: (linear-gradient(90deg, rgba(7, 40, 65, 0.75), rgba(7, 40, 65, 0.75)), url(../images/hero-image.png));
    background-repeat: no-repeat;
   	background-position: 0% 0%;
	position: relative;
}


.test-container {
	max-width: 500px;
	background-color: #aeaeae;

	.text-box {
		background-color: #f7f7f7;

	}
}