////////////////////////////////////////////////////////
// fonts
////////////////////////////////////////////////////////

$testvariable: #f7f7f7;

body {
	background-color: $testvariable;
}

////////////////////////////////////////////////////////
// app theme colors
////////////////////////////////////////////////////////
$app-dark-blue: #013a60;
$app-green: #00b151;
$app-orange: #ff8c00;
$app-blue: #008bd3;
$app-dark-grey: #4e565c;
$app-grey: #95a2aa;
$app-light-grey: #e1eeee;

////////////////////////////////////////////////////////
// app common element classes
////////////////////////////////////////////////////////

.solid-button {
	background-color: $app-green;
	color: white;
	border: none;
	border: 2px solid $app-green;
	border-radius: 4px;
	padding: 10px 15px;
	outline: none;
	margin-top: 10px;
}

.outline-button {
	background-color: transparent;
	color: white;
	border: none;
	border: 2px solid white;
	border-radius: 4px;
	padding: 10px 15px;
	outline: none;
	margin-top: 10px;
	margin-left: 15px;
}

.section-container {
	max-width: 740px;
	margin: 0 auto;
}


.col-xs-for5,
.col-sm-for5,
.col-md-for5,
.col-lg-for5 {
	padding-right: 10px;
    padding-left: 10px;
    position: relative;
    min-height: 1px;

}

.col-xs-for5 {
    width: 50%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-for5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-for5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-for5 {
        width: 20%;
        float: left;
    }
}

////////////////////////////////////////////////////////
// navigation bar
////////////////////////////////////////////////////////

////////////////////////////////////////////////////////
// jumbo section
////////////////////////////////////////////////////////

.jumbo-background {
    height: 250px;
    margin-top: -20px;
    background-image: (linear-gradient(90deg, rgba(7, 40, 65, 0.75), rgba(7, 40, 65, 0.75)), url(../images/hero-image.png));
    background-repeat: no-repeat;
   	background-position: 0% 0%;
	position: relative;
}

.jumbo-inner-container {
	max-width: 610px;

	.row {
		margin-top: 75px;
		.jumbo-header {
			color: $app-light-grey;
			font-size: 35px;
			font-weight: bold;
		}

		.jumbo-subheader {
			color: $app-light-grey;
			font-size: 16px;
		}
	}

}

////////////////////////////////////////////////////////
// colored boxes / down-sizing text section
////////////////////////////////////////////////////////

.boxes {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 20px;

	&.darkblue { background-color: $app-dark-blue}
	&.green { background-color: $app-green}
	&.orange { background-color: $app-orange}
	&.blue { background-color: $app-blue}
	&.darkgrey { background-color: $app-dark-grey}
	&.grey { background-color: $app-grey}
	&.lightgrey { background-color: $app-light-grey}
}

.loop-container {

	.loop-class {
		font-size: 30px;
		&.one {font-size: 26px;}
		&.two {font-size: 22px;}
		&.three {font-size: 18px;}
		&.four {font-size: 16px;}
		&.five {font-size: 12px;}
	}

	.second-class {
		font-size: 20px;
		&.one {font-size: 16px;}
		&.two {font-size: 12px;}
		&.three {font-size: 8px;}
		&.four {font-size: 4px;}
		&.five {font-size: 2px;}
	}
}


////////////////////////////////////////////////////////
// text section
////////////////////////////////////////////////////////




////////////////////////////////////////////////////////
// second jumbo section
////////////////////////////////////////////////////////

.jumbo-background-bottom {
	margin: 0 auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
    position: relative;
    background-size: 100% auto;
    height: 30vw;
    max-height: 500px;
    overflow: hidden;
    text-align: center;

    .content-container {

    	text-align: center;
    	padding-top: 50px;

	    .connect-header {
	    	color: $app-light-grey;
	    	font-size: 30px;
	    	font-weight: bold;
	    }

	    .connect-subheader {
	    	color: $app-light-grey;
	    	font-size: 15px;
	    }

	    .connect-line {
	    	width: 50px;
	    	border: none;
	    	padding-bottom: 1px;
	    	background-color: rgba(255, 255, 255, .4);
	    }
	}

}

////////////////////////////////////////////////////////
// three part icon section
////////////////////////////////////////////////////////



////////////////////////////////////////////////////////
// footer section
////////////////////////////////////////////////////////

.footer-container {
	padding: 25px 0px;
	background-color: $app-light-grey;
	border-top: 1px solid $app-grey;
}



